body{
    width:100%;
    height:100%;
    margin:0px;
}
.header{
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}
.inner-header{
    width:80%; 
    margin:auto;
}
.logo{
float: left;
height: 50px; 
padding: 15px; 
font-size: 20px; 
font-weight: lighter;
}
.sign-up,.login{
    float:right;
    font-size:14px; 
    height: 50px; 
    padding: 15px 15px; 
    font-size:16px; 
    font-weight: bold;
    text-decoration:none;
    
}
.content{
    min-height: 600px;
}
.banner-image{
padding:50px;
text-align: center;
margin-bottom: 20px;
background-image:url(intro-bg_1.jpg); 
background-size: cover;
}
.inner-banner-image{
    padding-top: 12%; 
    width:80%; 
    margin:auto;
    
}
.banner_content{
position: relative;

padding-top: 6%;
padding-bottom: 6%; 
overflow:hidden;
margin-bottom: 12%; 
margin-left: 270px;
background-color: rgba(0, 0, 0, 0.7); 
max-width: 560px;
color: wheat;
}
.button{
color: #fff;
background-color: #c9302c;
border-color: #ac2925;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
padding: 10px 16px;
font-size: 18px;
border-radius: 60px;
text-decoration:none;

}
.container{
    width:90%; 
    margin:auto; 
    overflow:hidden;
}
.items{
    width:30%;
display: block;
padding: 4px; 
margin-bottom: 20px; 
line-height: 1.42857143; 
background-color: #fff; 
border: 1px solid #ddd; 
border-radius: 4px; 
float:left; 
margin-left:1%;
}
.thumbnail{
    display: block; 
    max-width: 100%; 
    height: auto;
}
.caption{
    color:#000; 
    padding:0px 10px 10px; 
    font-weight: bold; 
    text-align: center;
}